extends layout

block content
  h1= title
  - var image_names= ["doll1.jpg","doll2.jpg","doll3.jpg","doll4.jpg","doll5.jpg"]
  - for(let i=0;i<3;i++){
     - let randValue= Math.floor(Math.random()*5)
     img(src=`/images/${image_names[randValue]}` alt=`Image No ${randValue}`)

  - }